extends layout

block content
  div(class="head")
    h1(class="title")= title
    p(class="subtitle") Welcome to the #{title}
  div(class="container")
    div(class="messages")
      ul 
        each message in messages 
          li(class="message")
            div(class="detail")
              p(class="text") #{message.text}
              p(class="author") #{message.added}
            p(class="date")= message.user
    div(class="input")